[submodule "accelerators/vmxc/external/dxc"]
	path = frontends/vmxc/external/dxc
	url = https://github.com/Microsoft/DirectXShaderCompiler.git
[submodule "accelerators/vmxc/external/spirv-headers"]
	path = frontends/vmxc/external/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "accelerators/vmxc/external/spirv-cross"]
	path = frontends/vmxc/external/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "accelerators/vmxc/external/spirv-tools"]
	path = frontends/vmxc/external/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
